# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build-directory
build
build_release
build_debug

#ignore logs
logs/*
logs_NN/*
logs_OBD/*
figs_NN/*

#ignore report files
images_backup
reportFiles

# Ignore default executable
vmc
<<<<<<<< HEAD:src/NN_VMC/RBM/.gitignore
*.dat
========
vmc_release
vmc_debug

# Ignore generated documentation
html/
latex/
>>>>>>>> origin/davide:src/ffwd_NN_VMC/.gitignore
